:root {
  font-family: var(--font-source-sans), sans-serif;
  line-height: 1.45;
  font-weight: 400;

  color-scheme: light;
  color: #394243;
  background-color: #e5e9e8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}